# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
ProjectRequirement.md
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Other files
Latest-Portfolio.zip
Portfolio-Previous.zip
THEME_FIXES_SUMMARY.md
THEME_IMPLEMENTATION_COMPLETE.md
Project.md
ProjectRequirement.md
Cleanup_summary.md
complete_theme_implementation.md
complete_theme_implementation_final.md
